/* 
 Signup-Login
*/


.App-page-1 {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(0, 0, 0);

  .text-header {
     text-align: center;
     font-size:50px;
     color: #de78a9;
     padding-top: 50px;
     padding-bottom: 50px;
   }

  .login-form {
   width: 35ch;
   text-align: center;
   padding-bottom: 20px;

    .submit {
      text-align:center;
      padding-top: 20px;
    }
 }

   .error {
    color:red;
    text-align: center;
    font-size: 20px;
    font-family:fantasy;
    }


}
/* --------------------------------------*/
/* --------------------------------------*/
/* Homepage Styling*/
.App-page {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about {
      width: 1200px;
      display: grid;
      // grid-template-columns: repeat(7,1fr);
      grid-template-rows: 1fr 1fr 1fr;
      color: #de78a9;
      font-size:15px;
      padding-bottom: 20px;


      .about-1 {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
      }
      
      .about-2 {
        grid-row: 3;
        display: flex;
        justify-content: space-between;
      }
    }
} 


.vcom1 {
  background-color: #000000;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  position: relative;
  
  .dropdown-menu {
    border-radius: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 380px;
    top: 70px;

    .select-destination {
      // color: rgb(196, 165, 165);
      &:hover {
      color: #de78a9;
      cursor: pointer;
      }
    } 
  }

  .picture {
    min-height: 45vh;
    width: 65%;
    background: url(../images/main-picture.jpeg) no-repeat center bottom;
    margin-top: 10px;
    // position: relative;
  }

  h2 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    position: absolute;
    // padding-top: 15px;
  }
} 

.vcom2 {
  background-color: #ffffff;
  width: 65%;
  min-height: 35vh;
  padding-top: 20px;


  .first {
    padding-left: 40px;
  }

  .second {
    display: flex;
    justify-content: space-around;

    .p1 {
      width: 250px;
      height: 250px;
      background: url(../images/homepage_2/1.jpeg) no-repeat center bottom; 
      background-size:  250px 250px;
      border-radius: 15px;
    }
    
    .p2 {
      width: 250px;
      height: 250px;
      background: url(../images/homepage_2/2.jpeg) no-repeat center bottom; 
      background-size:  250px 250px;
      border-radius: 15px;
    }
    
    .p3 {
      width: 250px;
      height: 250px;
      background: url(../images/homepage_2/3.jpeg) no-repeat center bottom; 
      background-size:  250px 250px;
      border-radius: 15px;
    }
    
    .p4 {
      width: 250px;
      height: 250px;
      background: url(../images/homepage_2/4.jpeg) no-repeat center bottom; 
      background-size:  250px 250px;
      border-radius: 15px;
    }
  }
}


.vcom3 {
  background-color: #ffffff;
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.appBar {
  text-transform: none;
  text-decoration: none;
  color: #de78a9;
}
.appBar-home {
  text-transform: none;
  text-decoration: none;
  color: #de78a9;
  font-family:fantasy;
  font-size: 30px;
}

/* --------------------------------------*/

/* 
 SearchBar
*/

.searchbar {
  height: 120px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .search-show {
      justify-self: center;
      grid-column: 1;

      p {
        font-size: 15px;
        text-align: center;
      }
      div {
        font-size: 20px;
        color: #da7ca9;
        text-align: center;
      }
  }

  .bar {
    grid-column: 2 / span 2 ;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;


    .search-box {
      width: 350px;
      height: 40px;
      border: 1px outset rgb(206, 112, 112);
      grid-column: 1 / span 2;

      .search-icon {
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
      }

      .dropdown-menu {
        border-radius: 20px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 350px;
        top: 200px;

        .select-destination {
          // color: rgb(196, 165, 165);
          &:hover {
          color: #de78a9;
          cursor: pointer;
          }
        } 
      }
    }


    .search-price {
      // height: 40px;
      min-width: 120px;
      padding-left: 10px;
      grid-column: 3;

      .search-price-1 {
        min-width: 100px;
        height: 70px;
      }
    }

    .search-beds {
      grid-column:4;
      min-width: 120px;
      padding-left: 10px;
      .search-beds-1 {
        min-width: 100px;
        height: 70px;
      }

    }

    
    .search-pets {
      grid-column:5;
      min-width: 120px;
      padding-left: 10px;
      .search-pets-1 {
        min-width: 100px;
        height: 70px;
      }
    }

  }

  .switch-button {
    grid-column: 4;
    justify-self: end
  }
}

.content {
  min-height: 82vh;
  width: 100%;
  display: flex;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

  .houses-container-1 {
    width: 60%;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-rows: 7fr 2fr 1fr;
    justify-items: center;
    
    .pagination {
      grid-row: 2;
      padding-top: 30px;
    }

    .about {
      width: 80%;
      grid-row: 3;
      justify-self: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      color: #de78a9;
      font-size:15px;
      padding-bottom: 10px;
      align-items: center;


      .about-1 {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
      }
      
      .about-2 {
        grid-row: 3;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  
  .houses-container-2 {
    width: 60%;
    grid-column: 2 / span 3 ;
    margin: auto;
    display: grid;
    grid-template-rows: 7fr 2fr 1fr;
    justify-items: center;
    
    .pagination {
      grid-row: 2;
      padding-top: 30px;
    }

     .about {
      width: 80%;
      grid-row: 3;
      display: grid;
      // grid-template-columns: repeat(7,1fr);
      grid-template-rows: 1fr 1fr 1fr;
      color: #de78a9;
      font-size:15px;
      padding-bottom: 20px;


      .about-1 {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
      }
      
      .about-2 {
        grid-row: 3;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .map {
    // margin-right: 0px;
    width: 40%;
    // width: 800px;
    height: 60vh;
    grid-column: 4 / span 2 ;
    // background-color: rgb(223, 173, 173);
    padding-right: 20px;
    // position: absolute;
  }


}

/* --------------------------------------*/

/* 
  Property Container
*/

.houses-container {
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;


  .property-box {
    width: 350px;
    height: 350px;
    padding: 10px;
  }
  
  .property-info-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 12px;
    margin-left: 10px;
    justify-items: center;
    align-items: center;
    
  }
  
  .property-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50px;
    font-size: 15px;
    justify-items: center;
    border: 1px outset rgb(206, 112, 112);


    .heart {
      grid-column: 3;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: center;
      &:hover {
      // color: #e4b2ca;
      cursor: pointer;
      }
    }
    .address{
      grid-column: 1 / span 2;
      grid-row: 1;
      font-size: 12px;
      justify-self: start;
      margin-left: 25px;
    }
    .state{
      grid-column: 1 / span 2;
      grid-row: 2;
      font-size: 12px;
      justify-self: start;
      margin-left: 25px;
    }
    
    .price {
      color:#de78a9;
      grid-column: 4 / span 2;
      grid-row: 1;
      justify-self: end;
      margin-right: 10px;
    }
    
    .contact {
      grid-column: 4 / span 2;
      grid-row: 2;
      justify-self: end;
      margin-right: 10px;
    }
  }

}



/* --------------------------------------*/

/* 
  Profile Page
*/

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .profile-message {
    grid-column: 2;
  }
}

.profile-info {
  // justify-content: center;
  // align-content: center;
   grid-column: 1;
  display: grid;
  width: 700px;
  height: 400px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 20px;
  justify-items: center;
  
  h2 {
    grid-column: 2 /span 2;
    grid-row: 1;
    align-self: center;
  }
  .item-1 {
    grid-area: 2 / 2;
  }
  .item-2 {
    grid-area: 3 / 2;
  }
  .item-3 {
    grid-area: 4 / 2;
  }
  .item-4 {
    grid-area: 2 / 3;
    justify-self: center;
    justify-self: start;
  }
  .item-5 {
    grid-area: 3 / 3;
    justify-self: center;
    justify-self: start;
  }
  .item-6 {
    grid-area: 4 / 3;
    justify-self: center;
    justify-self: start;
  }
  .item-7 {
    grid-column: 2 / span 2;
    grid-row: 5;
  }
  .item-8 {
    grid-column: 1;
    grid-row: 2 / span 4;

    .submit {
      text-align: center;
    }
  }

}


.houses-container-profile {
  width: 60%;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;


  .property-box {
    width: 350px;
    height: 350px;
    padding: 10px;
  }
  
  .property-info-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 12px;
    margin-left: 10px;
    justify-items: center;
    align-items: center;
    
  }
  
  .property-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50px;
    font-size: 15px;
    justify-items: center;
    border: 1px outset rgb(206, 112, 112);


    .heart {
      grid-column: 3;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: center;
      &:hover {
      // color: #e4b2ca;
      cursor: pointer;
      }
    }
    .address{
      grid-column: 1 / span 2;
      grid-row: 1;
      font-size: 12px;
      justify-self: start;
      margin-left: 25px;
    }
    .state{
      grid-column: 1 / span 2;
      grid-row: 2;
      font-size: 12px;
      justify-self: start;
      margin-left: 25px;
    }
    
    .price {
      color:#de78a9;
      grid-column: 4 / span 2;
      grid-row: 1;
      justify-self: end;
      margin-right: 10px;
    }
    
    .contact {
      grid-column: 4 / span 2;
      grid-row: 2;
      justify-self: end;
      margin-right: 10px;
    }
  }

}

/* 
  Property Show
*/

.property-show-page {
  display: grid;
  height: 2000px;
  margin: auto;
  padding-top: 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;

  .contact-form {
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
    height: 500px;
    margin: 1px;
    text-align: center;
    // border: 5px outset rgb(255, 255, 255);
  }
}

.property-show {
  
  grid-column: 4 / span 4;
  grid-row: 1 / span 4;
  
  
  .property-show-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 60px;
    font-size: 20px;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    // border: 1px outset rgb(206, 112, 112);
    

    .heart {
      grid-column: 3;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: center;
      &:hover {
      color: #de78a9;
      cursor: pointer;
      }
    }
    .address{
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      justify-self: start;
      margin-left: 25px;
    }
    
    .contact {
      grid-column: 4 / span 2;
      grid-row: 1 /span 2;
      justify-self: end;
      margin-right: 10px;
    }
  }

  .overview {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 20px;
    padding-top: 20px;
    justify-items: center;
    padding-bottom: 30px;
  }

  .features {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr;
  justify-items: center;
  align-items: center;
  min-height: 550px;

    p {
      font-size: 10px;
      justify-content: center;
      color: #de78a9;
      margin-left: 14px;
    }
  }


  .nearby-school {
    padding-bottom: 80px;
  }

  .list-update {
    display: grid;
    font-size: 18px;
    color: #6361d6;
    font-style: italic;
    grid-template: 1fr 1fr / 1fr;
    justify-items: end;
    padding-top: 50px;
    padding-bottom: 50px;

    .list-update-1 {
      grid-row: 1;
    }
    .list-update-2 {
      grid-row: 2;
    }
  }

  .about {
      width: 100%;
      display: grid;
      // grid-template-columns: repeat(7,1fr);
      grid-template-rows: 1fr 1fr 1fr;
      color: #de78a9;
      font-size:15px;
      padding-bottom: 20px;


      .about-1 {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
      }
      
      .about-2 {
        grid-row: 3;
        display: flex;
        justify-content: space-between;
      }
    }
}

.about-line {
  // color:rgb(206, 112, 112);
  background-color: #d8d5d5;
  width: 100%;
  height: 1px;
}


 // LOGIN SIGNUP FORM



